<launch>
    <!-- 设置地图的配置文件 -->
    <arg name="map" default="nav.yaml" />
    
    <!-- 运行地图服务器，并且加载设置的地图 -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find nav_demo)/map/$(arg map)" />
    
    <!-- 启动 AMCL 节点 -->
    <include file="$(find nav_demo)/launch/nav04_amcl.launch" />

    <!-- 运行 move_base 节点 -->
    <include file="$(find nav_demo)/launch/nav05_path.launch" />
    
    <!-- 为了防止 Gazebo 模型状态缺失导致的 TF 完整性问题，在本地保留 joint_state_publisher -->
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />

    <!-- 运行 rviz -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find nav_demo)/config/nav.rviz" />
</launch>
